div.circulos1 {
  position: absolute;
  width: 1102px;
  height: 1102px;
  border-radius: 1102px;
  border: 1px solid #e1e1e1;
  opacity: 0.25;
  z-index: -1;
  top: 182px;
  left: 838px;
}

div.circulos2 {
  position: absolute;
  width: 850px;
  height: 850px;
  border-radius: 850px;
  border: 1px solid #e1e1e1;
  opacity: 0.25;
  z-index: -1;
  top: 495px;
  left: 1073px;
}